.openCourse {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #fff;
    border: 1px solid #fff;
    color: #000;
    padding: 10px 20px;
}

.openCourse:hover {
    background: #fff;
    color: #990000
}

.register-container {
    display: flex;
}

.course-search-title {
    background: #990000;
    margin-top: 1rem;
    font-size: 30px;
}

.search-course {
    margin-left: 1.3rem;
}

.courses {
    width: 40%;
    float: left;
    background-color: #fff;
    margin-left: -0.5rem;
    margin-top: -1rem;
}

.course-list {
    width: 60%;
    float: right;
}

.register-image {
    float: right;
    width: 60%;
    height: 100%;
}

.course-title {
    background: #990000;
    margin-top: 0rem;
    margin-right: -1rem;
    font-size: 20px;
}